@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --test: #0a1d38be;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree-sans);
  --color-primary: #228101;
  --color-secondary: #b1ff06;
  --color-custom-1: #081c3a;
  --color-custom-2: #08162b;
  --color-custom-3: #0A2144;
  --color-custom-4: #f7cf4f;
  --color-custom-5: #0b1626;
  --color-custom-6: #0a1d38be;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree-sans);
}

@keyframes zoomFade {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoomFade {
  animation: zoomFade 0.25s ease-out;
}

@keyframes shakeRed {
  0% { transform: translateX(0); background-color: #ff2525; }
  20% { transform: translateX(-0.375rem); }
  40% { transform: translateX(0.375rem); }
  60% { transform: translateX(-0.25rem); }
  80% { transform: translateX(0.25rem); }
  100% { transform: translateX(0); background-color: transparent; }
}

.shake-wrong {
  animation: shakeRed 0.5s ease;
}
