@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree-sans);
  --color-primary: #228101;
  --color-secondary: #b1ff06;
  --color-custom-1: #081c3a;
  --color-custom-2: #08162b;
  --color-custom-3: #1d2a3d;
  --color-custom-4: #f7cf4f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree-sans);
}
